<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body ng-app="loginApp">
	<header>
		<div class="container">
			Manager App
		</div>
	</header>
	<section ng-controller="loginCtrl">
		<div class="container">
			<form ng-submit="submit()">
				<p class="bg-danger">Invalid Username/Password</p>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username or Email" ng-model="name">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" ng-model="password">
				</div>
				<!-- <div ng-repeat="user in users">{{user.username}}</div> -->
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</section>

	<!--build:js build/js/main.min.js -->
	<script src="../../node_modules/angular/angular.min.js"></script>
	<script src="/app/loginCtrl.js"></script>
	<!-- endbuild -->
</body>
</html>